body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.page-top-text{
    text-align: center;
    color: rgb(136, 142, 223);
    margin-top: 2%;
}

/* top menu */
.menu{
    background-color: #BEE6C1;
    overflow: hidden;
}

.menu a{
    float: left;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    transition: 1.5s;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
    transition: 1.5s;
}

.menu a.active {
    background-color: #04aa15;
    color: white;
    transition: 1.5s;
}

.menu a.active:hover {
    background-color: #037f0f;
    color: rgba(255, 255, 255, 0.692);
    transition: 1.5s;
}

.menu a.menu-right {
    float: right;
    background-color: aliceblue;
    color: black;
    transition: 1.5s;
}

.menu a.menu-right:hover {
    background-color: #ddd;
    color: black;
    transition: 1.5s;
}

/* mid page styles */
.mid-page{
    color: #538453;
    margin-top: 5%;
    margin-left: 1%;
}

/* style form */
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 15%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  border-radius: 15px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  border-radius: 15px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


/* search menu */
.search{
  background-color: #D9EEE1;
  text-align: center;
  border-left: none;
  padding: 32px;
  margin: 24px;
  margin-left: -32px;
  margin-right: -32px;
  margin-bottom: -32px;
}