body {
    background-color: #DFE0E2;
    margin: 0;
}

.page-top-text{
    text-align: center;
    color: #2279B5;
    margin: 0;
}

/* top menu */
.menu{
    background-color: #B3E0FF;
    overflow: hidden;
}

.menu a{
    float: left;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    transition: 0.5s;
}

.menu a:hover {
    background-color: #336699;
    color: black;
    transition: 0.5s;
}

.menu a.active {
    background-color: #0097FF;
    color: white;
    transition: 0.5s;
}

.menu a.active:hover {
    background-color: #29537C;
    color: rgba(255, 255, 255, 0.692);
    transition: 0.5s;
}

.menu a.menu-right {
    float: right;
    background-color: #B3E0FF;
    color: black;
    transition: 0.5s;
}

.menu a.menu-right:hover {
    background-color: #336699;
    color: #071013;
    transition: 0.5s;
}

/* mid page styles */
.mid-page{
    color: #538453;
    margin-top: 5%;
    margin-left: 1%;
}

/* style form */
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus{
  width: 100%;
}

/* label{
  text-align: center;
} */

/* Set a style for all buttons */
button {
  background-color: #77c8ff;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  transition: 0.5s;
}

button:hover {
  opacity: 0.8;
  transition: 0.5s;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #FF0000;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 15%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  border-radius: 15px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #DFE0E2;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #AAAAAA;
  border-radius: 15px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #071013;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* search menu */
.search{
  background-color: #B3E0FF;
  text-align: center;
  border-left: none;
  padding: 2%;
  margin: 24px;
  /*margin-left: -32px;
  margin-right: -32px;
  margin-bottom: -32px;*/
  /*border: 1px #B79CED solid;*/
  border-radius: 15px;
}

/* station menu */


.bottom-menu{
  display: none;
}


/*  questions menu */
.question-menu{
  display: none;
  margin-top: 4vh;
}

.dropdown-content {
  width: 100%;
  background-color: transparent;
  overflow: scroll;
}

.results span {
  padding: 3px;
  background-color: rgb(253, 67, 25);
  margin: 5px;
  border-radius: 3px;
}

.results .timeFirst {
  background-color: rgb(18, 141, 255);
}

.results .timeLast {
  background-color: rgb(18, 141, 255);
}


/* AF BLIJVEN W I P */
@media screen and (max-width: 700px) {
  body{
    font-family: Arial, Helvetica, sans-serif;
  }

  h1{
    position: fixed;
    /* top: 0; */
    display: block;
  }

  .page-top-text{
    text-align: center;
    color: #000000;
    /* text-shadow: 0 0 1px #999999, 0 0 3px #444444; */
    margin-top: 0px;
    font-size: 2em;
    padding: 15px;
    background-color: #FEC917;
    position: sticky;
  }

  .top-menu{
    display: none;
  }

  .search{
    display: none;
  }

  .bottom-menu {
    display: block;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .bottom-menu a .fa-train, .bottom-menu a .fa-circle-question, .bottom-menu a .fa-user {
      position: sticky;
      float: left;
      display: block;
      color: #999999;
      text-align: center;
      width: 33.3333333%;
      padding: 10px 0px;
      text-decoration: none;
      font-size: 50px;
      border-top: #999999 solid 2px;
      background-color: #DFE0E2;
      transition: 0.5s;
  }

  .bottom-menu a .fa-train:hover, .bottom-menu a .fa-circle-question:hover, .bottom-menu a .fa-user:hover {
      filter: brightness(0.7);
      transition: 0.5s;
  }

  /* Drop-up menu styling */
  .dropup-menu {
      display: none;
      position: fixed;
      bottom: 72px; /* Position above the bottom menu */
      left: 66.666666%;
      /* transform: translateX(-0%); */
      background-color: #DFE0E2;
      width: 33.333333%;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      text-align: center;
  }

  .dropup-menu a {
      display: block;
      padding: 10px;
      text-decoration: none;
      background-color: #DFE0E2;
      color: #333;
      border-top: #999999 solid 2px;
      font-size: 50px;
  }

  .dropup-menu a .fa-screwdriver-wrench, .dropup-menu a .fa-right-to-bracket, .dropup-menu a .fa-user-plus {
    font-size: 50px;
    border-top: none;
    color: #999999;
  }

  .dropup-menu a:hover {
    filter: brightness(0.7);
    transition: 0.5s;
  }

  .question-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 75vh;
    max-width: 100%;
    /* margin-top: 50%; */
  }

  .question-image{
    width: auto;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -60%);
  }

  .question-subject {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }

  .question-text{
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 35%;
    transform: translate(-50%, -75%);
  }

  .new-question-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, 200%);
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline;
    padding: 10px 25px;
    color: #000000;
    background-color: #FEC917;
    transition: 0.5s;
    border-radius: 15px;
  }

  .new-question-button:hover {
    filter: brightness(0.7);
    transition: 0.5s;
  }

/*  route searching styles  */

  .search_frame{
    width: 100%;
    height: 500px;
  }

  .search {
    background-color: transparent;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .search-form {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    max-width: 100%;
    margin-top: 2vh;
    /* transform: translate(-50%, -50%); */
    background-color: transparent;
    text-align: center;
    width: 100%;
    border-bottom: #999999 solid 2px;
  }

  .search-form button{
    max-width: 60%;
    transition: 0.5s;
  }

  .search-form button:hover{
    max-width: 80%;
    transition: 0.5s;
  }

  .results{
    position: relative;

    /* max-width: 100%; */
    top: 40%;
    /* left:0; */
    /* text-align: center; */
    height: 200px;
    /* overflow: scroll; */
    font-size: 20px;
  }

  .results div{
    /* position: fixed; */
    display: inline;
    /* margin-left: 10%; */
    max-width: 100%;
    /* max-height: 50%; */
    background-color: transparent;
  }

  .dropdown-content {
    width: 100%;
    background-color: transparent;
    overflow: scroll;
  }

  .dropdown-content button {
    border-bottom: #999999 solid 2px;
    border-radius: 0px;
    color: #000000;
    padding: 2.5%;
    font-size: 15px;
    transition: 0.5s;
    background-color: #DFE0E2;
    margin: 0px 0px;
  }

  .dropdown-content button:hover {
    filter: brightness(0.7);
    transform: scale(1.1);
    transition: 0.5s;
  }

  button {
    background-color: transparent;
  }

  .search-submit {
    background-color: #5DBCFD;
  }

  #myDropdown2 {
    overflow: scroll;
    height: 68.3%;
  }


  /*  modal styles  */

  .modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }

  .modal-content {
    background-color: #FEC917;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #AAAAAA;
    border-radius: 15px;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .container {
    padding: 16px;
    border-radius: 15px;
    text-align: center;
  }

  .container .cancelbtn {
    transform: translate(-75%, 0%);
  }

  input[type=text], input[type=password] {
    text-align: center;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=text]:hover, input[type=password]:hover{
    width: 100%;
  }

  .modal-button {
    background-color: #FFFFFF;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
    border-radius: 20px;
    transition: width 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out;
  }

  .modal-button:hover {
    width: 100%;
    filter: brightness(0.9);
    transition: width 0.5s ease-in-out;
  }

  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #071013;
    font-size: 35px;
    font-weight: bold;
    transition: transform 0.5s ease-in-out;
  }

  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    left: 25px;
    width: auto;
    padding: 10px 18px;
    background-color: #FF0000;
    border-radius: 20px;
  }

  .cancelbtn:hover {
    filter: brightness(0.8);
    transform: scale(1.3);
  }

}